@font-face {
  font-family: Montserrat;
  src: url("@/shared/assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat-bold;
  src: url("@/shared/assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-semiBold;
  src: url("@/shared/assets/fonts/Montserrat-SemiBold.ttf");
}
