@import "./fonts";
@import "./ScssVars";

// Variables
:root {
  // Padding
  --padding-y: 37px;
  --padding-x: 140px;
  --padding-tablet-x: 50px;
  --padding-mobile-x: 10px;

  // Z-index
  --z-index-bg-effect: -2;
  --z-index-hidden: -1;
  --z-index-zero: 0;
  --z-index-one: 1;
  --z-index-page-animation: 2;

  // Fonts
  --font-family: "Montserrat", sans-serif;
  --font-family-bold: "Montserrat-bold", sans-serif;
  --font-family-semibold: "Montserrat-semiBold", sans-serif;

  // Transition
  --transition-duration-default: 0.3s;
  --transition-duration-medium: 0.8s;
  --transition-duration-long: 2.5s;

  // Heights
  --header-height: 80px;
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-family);
  scroll-behavior: smooth;
  overflow-y: hidden;
}
