@use "./fonts" as *;
@use "./ScssVars" as *;

// Variables
:root {
  // Padding
  --padding-y: 37px;
  --padding-x: 140px;
  --padding-tablet-x: 50px;
  --padding-mobile-x: 10px;

  // Z-index
  --z-index-bg-effect: -2;
  --z-index-hidden: -1;
  --z-index-zero: 0;
  --z-index-one: 1;
  --z-index-header: 2;
  --z-index-page-animation: 3;

  // Fonts
  --font-family: "Montserrat", sans-serif;
  --font-family-bold: "Montserrat-bold", sans-serif;
  --font-family-semibold: "Montserrat-semiBold", sans-serif;

  // Transition
  --transition-duration-default: 0.3s;
  --transition-duration-medium: 0.8s;
  --transition-duration-long: 2.5s;

  // Colors
  --color-white: #fff;
  --color-gray: rgba(255 255 255 / 40%);
  --color-dark-gray: rgba(0 0 0 / 90%);
}

html {
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-family);
  overflow-y: hidden;
  background: #1f272a;
}

.plug {
  height: 100vh;
  text-align: center;
  color: var(--color-white);
}
