/* Media Queries */
$laptop-mediaquery-width: 1600px;
$tablet-mediaquery-width: 1450px;
$tablet-smaller-mediaquery-width: 1050px;
$mobile-mediaquery-width: 750px;
$mobile-smaller-mediaquery-width: 415px;
