/* Media Queries */
$laptop-mediaquery-width: 1600px;
$tablet-mediaquery-width: 1350px;
$tablet-smaller-mediaquery-width: 1050px;
$mobile-mediaquery-width: 700px;
$mobile-smaller-mediaquery-width: 400px;
