@use "@/app/styles/ScssVars" as *;

$main-block-height: 900px;

.MainBlock {
  height: $main-block-height;
  width: 100%;
  position: relative;
  background-image: url("@/shared/assets/images/MainBlock/MainBlockBG.webp");
  background-size: cover;
  padding: var(--padding-y) var(--padding-x);
  z-index: var(--z-index-bg-effect);

  @media (max-width: $tablet-mediaquery-width) {
    padding: var(--padding-y) var(--padding-tablet-x);
  }

  @media (max-width: $mobile-mediaquery-width) {
    padding: var(--padding-y) var(--padding-mobile-x);
  }

  &__caption {
    font-weight: 700;
    font-size: 72px;
    background: linear-gradient(90deg, #fe4f74 0%, #a972ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__subcaption {
    font-weight: 500;
    font-size: 32px;
    background: linear-gradient(90deg, #ff4f74 0%, #857fff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__bg {
    position: absolute;
    z-index: var(--z-index-hidden);
    top: 180px;

    &Circles {
      position: relative;
      bottom: 230px;
      opacity: 0.2;
      transition: var(--transition-duration-medium) linear opacity;

      &__visible {
        opacity: 0.7;
      }
    }

    &__category {
      border-radius: 30px;
      background-color: rgba(17 17 17 / 40%);
      height: 49px;
      width: 144px;
      position: absolute;
      z-index: var(--z-index-bg-effect);
      transition: var(--transition-duration-medium) linear box-shadow;
      box-shadow: 0 0 20px transparent;

      &:nth-of-type(2) {
        top: 90px;
        left: 35%;
      }

      &:nth-of-type(3) {
        top: 380px;
        left: 34%;
        width: 202px;
      }

      &:nth-of-type(4) {
        top: 70px;
        right: 35%;
      }

      &:nth-of-type(5) {
        top: 400px;
        right: 34%;
      }

      &__text {
        font-weight: 600;
        font-size: 24px;
        color: rgba(255 255 255 / 10%);
        transition: var(--transition-duration-medium) linear;
        transition-property: color, text-shadow;
      }

      &__hover {
        box-shadow: 0 0 20px #ff84f5;

        .MainBlock__bg__category__text {
          text-shadow: 0 0 4px #ff84f5;
          color: #ff84f5;
        }
      }
    }
  }

  &__footer {
    position: relative;
    top: calc($main-block-height / 3.5);

    &__caption {
      font-weight: 600;
      font-size: 24px;
      color: var(--color-white);
    }

    &__desc {
      font-weight: 500;
      font-size: 14px;
      color: var(--color-white);
      opacity: 0.4;
    }

    &__step {
      font-weight: 600;
      font-size: 24px;
      color: var(--color-white);
      opacity: 0.4;

      &::after {
        content: "•";
        display: block;
        color: #fc4f76;
      }

      &:last-of-type {
        &::after {
          content: "";
        }
      }
    }

    &__bg {
      z-index: var(--z-index-bg-effect);
      position: absolute;
      opacity: 0.2;
      transition: var(--transition-duration-medium) linear opacity;

      &__visible {
        opacity: 1;
      }

      &:nth-of-type(3) {
        right: 45%;
        bottom: -115%;
        rotate: 60deg;

        @media (max-width: $laptop-mediaquery-width) {
          bottom: -90%;
        }
      }

      &:nth-of-type(4) {
        left: 70%;
        bottom: -35%;
        rotate: 340deg;
      }
    }
  }
}
