.OurSocials {
  padding: 17px 15px;
  border-radius: 30px;
  height: 314px;
  background: #dfcce2;

  &__caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.02em;
    background: linear-gradient(65deg, #fe4f74 0%, #a972ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
  }

  &__button {
    height: 53px;
    font-size: 22px;
  }
}
